@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: rgb(234, 83, 83);
  --cyan: rgb(69, 211, 211);
  --orange: rgb(252, 175, 74);
  --blue: rgb(84, 158, 242);
  --very-dark-blue: rgb(76, 78, 97);
}

/** Default Desktop Version **/
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 10px 60px;
}

h1,
h2,
h3,
p {
  color: var(--very-dark-blue);
  margin: 0;
}

h1,
h2 {
  font-size: 36px;
  letter-spacing: 0.25px;
  line-height: 54px;
  text-align: center;
}

h1,
h3 {
  font-weight: 600;
}

h2 {
  font-weight: 275;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.11px;
  line-height: 25px;
  opacity: 0.5;
}

a {
  text-decoration: none;
}

/** Mobile Version **/
@media (max-width: 612px) {
  body {
    margin: 0;
    padding: 30px 10px;
  }
}